# API Keys for Global Payments
# Replace these sample values with your actual API keys

# PayTech
HOSTED_FIELDS_API_KEY=ALALaW0WQoKZ8MjFNfGm7J7FA6UFYCc4  #gitleaks:allow
TRANSACTIONS_API_KEY=AS44PTQyls0GA2zzWRLZnU5FIHtQG0tA  #gitleaks:allow
AUTHTOKEN_JWT_SECRET=d6Mh9YWuy66K9TFISwzLTFb3JvCerHGJtkwQjpNUiMOa  #gitleaks:allow
ACCOUNT_CREDENTIAL="Tech Docs Team Test Merchantware:1JF3PTZ3:1AIDD-4J5FE-GE5BL-ZGBQA-8BC0K"  #gitleaks:allow